<ion-header>
  <ion-toolbar>
    <ion-title>  </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>About Us</h1>
  <br>
  <p><strong> MOVEMENT RECOGNITION.</strong><br></p>
  <p><strong> COACHING INTELLIGENCE.</strong><br></p>
  <p>
    Companies of all sizes use ASENSEI software to motion-capture their customers and make sense of their movement ,  so that they can offer personalized  health and fitness experiences that onboard, engage and retain customers.<br>
  </p>  
    
  <p>
    We offer the most widely deployed solution for 3D Computer Vision and Connected Apparel, running on high-powered phones or low-powered consumer electronics, using single or multiple cameras to capture individuals at home or in a room full of participants.<br>
  </p>  
  <p>
    ASENSEI. Artificial Intelligence meets Athletic Intelligence
  </p>  